.home{
    background-color: #EAEDED;
    padding-bottom: 30px;
}
.background-x{
    z-index: -1 !important;
}
.blur{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.products {
    margin-top: -220px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
    top: 10 !important;
}
.carousel-indicators li { visibility: hidden; }

@media (max-width: 768px) {
    .products {
        margin-top: -70px;
    }
}