.logo{
    width: 101px;
    height: 31px;
    margin: 15px 0px 15px 0px;
}
.baseContainer{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.loginContainer{
    width: 100%;
    border: 1px #a4a3a373 solid;
    box-shadow: 0px 0 2px -4px #c9c9c9;
    border-radius: 5px;
    padding: 20px 30px;

}
.Fontone{
    font-size: 1.7rem;
    color: #111;
}
.fontthree{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 20px;

}
.fontfour{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;

}
.inputone{
    width: 100%;
    height: 31px;
    border-radius: 3px;
    border: none;
    border: 1px #979797b3 solid;
    outline: none;
    font-size: 14px;
    padding-inline: 4px;
}
.inputone:focus{
    border: 0.5px rgb(255, 140, 0) solid ;
    box-shadow: 0px 0px 2px 2px rgba(255, 140, 0, 0.40);
}

.loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fcd87d;
    border-color: #a88734 #9c7e31 #846a29;
    max-height: 30px;
    font-size: 13px;
    font-weight: 500;
}
.loginbtn:hover{
    background-color: #f3c85c;
}
.txttwo{
    text-decoration:none;
    font-size: 12px;
    font-weight: 500;
}
.btntwo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 29px;
    width: 100%;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    font-weight: 500;

}
.newText{
display: flex;
}
.txtfour{
    color: grey;
    font-size: 12px;
}
.L-line{

    border-top: 1px solid #cbcbcb;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 12px;
}
.R-line{

    border-top: 1px solid #cbcbcb;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 12px;

}

.footer{
    font-size: 11px;
    height: 2.5px;
    background-color: rgba(0,0,0,0.10);
    background: linear-gradient(to right, #fff, #E7E7E7,#fff);
    z-index: 0;
    zoom: 1;
}
.footerLinks {
    display: flex;
    justify-content: space-evenly;
}
.footerLinks > a{
    font-weight: 500;
}

.login a{
    text-decoration: none;
    color: #0066c0;

}
.login a:hover{
    color: #cf8428;
    text-decoration: underline;
}