.nav-container{
    display: flex;
    background-color: #0F1111;
    height: 60px;
    width: 100%;
    align-items: center;
    color: white;
    z-index: 2;
}

.logo-container{
  height: 50px;
  margin-left: 16px;
}
.nav-logo{
    margin-top: 16px;
    width: 103px;
    height: 33px;
    padding: 4px;
}
.search-container {
  width: 70%;
  height: 38px;
  margin-left: 50px;
}
.search-container button {
  
    border: none;
    cursor: pointer;
  }
  .nav-inputone{
    width: 100%;   
    line-height: 15px;
    padding: 7px 10px 10px 0;
    border-radius: 4px 0px 0px 4px;
    margin: 0;
    border: 0;
    height: 100%;
    font-family: inherit;
    font-size: 15px;
    background: white;
    color: #111;
    outline: 0;
    padding-inline: 4px;
  }
  .nav-inputone:focus .search-container{
    outline: 2px #e47911 solid !important;
  }
  .searchbtn{
    color: #f2f1f1;
    background-color: #e4a046;
    border-radius: 0px 4px 4px 0px;
    margin-right: 0px;
    width: 2.5rem;
  }
  .searchbtn:hover{
    background-color: #db9840;
  }
  .navtxt{
    font-size: 16px;
    font-weight: 700;
  }
  .w-one{
    padding: 1px 5px;
    cursor: pointer;
  }
  .w-one:hover{
    outline: white solid 1px;
  }
  .nav-elements {
    display: flex;
    margin-left: 10px;
    height: 50px;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
  }
  .nav-elements a{
    color: white !important;
  }
.cart-icon {
  font-size: 30px !important;
  color: white;
  margin-top: 10px;
}
.logo-container:hover{
  outline: white solid 1px;
}
.cart-count {
  font-size: 20px;
  font-weight: 700;
}
