.po-container{
    background-color: #EAEDED;
}

.payo-txt-1{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.payo-txt-2{
    font-size: 20px;
    font-weight: 400;
}

.box-2{
    border: #d9d9d9 1px solid;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 2px 0px 26px -20px grey;
}

.payoutbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background: #fcd87d;
    border-color: #a88734 #9c7e31 #846a29;
    max-height: 30px;
    font-size: 13px;
    font-weight: 500;
}
.payoutbtn:hover{
    background-color: #f3c85c;
}