.product-container{
    background-color: #fff;
    padding: 20px;
    margin: 0px;
    margin-top: 20px;
    height: 400px;
    
}
.p-img-container {
    height: 170px;
    width: 100%;
}
.product-details {
    height: 110px;
}
.product-details > p {
    margin: 0px;
}
.p-name{
    font-weight: 700;
}

.rating-font{
    font-size: 15px !important;
}

@media (max-width: 600px) {
    .product-container {
        height: auto;
    }
    .product-details {
        height: auto;
    }
    .rating-font{
        font-size: 13px !important;
    }
}