.product-container{
    /* border: solid 1px #111; */
    background-color: #fff;
    padding: 20px;
    margin: 0px;
    margin-top: 20px;
    height: 400px;
}
.p-img-container {
    height: 170px;
    width: 100%;
}
.product-details {
    /* margin-top: 15px; */
    height: 110px;
}
.product-details > p {
    margin: 0px;
}
.p-name{
    font-weight: 700;
}

@media (max-width: 768px) {
    .product-container {
        height: 300px;
    }
}